.puzzle-pieces-area {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.puzzle-piece {
  padding: 20px;
  background-color: #ffcc00;
  border: 1px solid black;
  cursor: move;
  user-select: none;
}

.dropped-piece {
  padding: 20px;
  background-color: #ffcc00;
  border: 1px solid black;
  user-select: none;
  width: 100px;
}

.puzzle-area {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 300px;
  border: 2px dashed black;
  background-color: white;
  transition: background-color 0.2s;
}

.puzzle-area-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.puzzle-pieces-row {
  display: flex;
}
